In [7]:
import pandas as pd
df = pd.read_csv("goat.csv")
print(df.head())

         Date Product_Category   Price  Discount Customer_Segment  \
0  01-01-2023           Sports  932.80     35.82       Occasional
1  02-01-2023             Toys  569.48      3.60          Premium
2  03-01-2023       Home Decor  699.68      3.56          Premium
3  04-01-2023             Toys  923.27      0.61          Premium
4  05-01-2023             Toys  710.17     47.83          Premium

   Marketing_Spend  Units_Sold
0          6780.38          32
1          6807.56          16
2          3793.91          27
3          9422.75          29
4          1756.83          17

In [11]:
import pandas as pd 
df = pd.read_csv("spotify_tracks.csv")
print(df.tail())

                     track_id                       track_name  \
62312  3eHDwMQYPEziy2DWRBNoLv             Sani - G.O.A.T Remix
62313  5hHtCqkNv5eo99OrEFFcgS                 Life of Bachelor
62314  08foF9YHgKmIgOy3xMWRZy                          Yo Baby
62315  2wLFbVlQGKJSd9lwzwL47F                Fast Fast Vadiley
62316  5OYxwYeFfumMTAoAdVeet3  Moonu Moonu Moonu (From "3:33")

                                             artist_name  year  popularity  \
62312  Arvind Raj, Sheezay, Music Kitchen, FSPROD Vin...  2021          30
62313  A H Kaashif, Navakkarai Naveen Prabanjam, Asal...  2021          30
62314         Rakesh Ambigapathy, Asal Kolaar, MC Vickey  2021          18
62315          Asal Kolaar, Priyadarshan Balasubramanian  2021           1
62316  Harshavardhan Rameshwar, G. V. Prakash, Dharma...  2021           1

                                             artwork_url  \
62312  https://i.scdn.co/image/ab67616d0000b273819d23...
62313  https://i.scdn.co/image/ab67616d0000b2736cd651...
62314  https://i.scdn.co/image/ab67616d0000b27300da25...
62315  https://i.scdn.co/image/ab67616d0000b273e051e1...
62316  https://i.scdn.co/image/ab67616d0000b273efd671...

                                          album_name  acousticness  \
62312                           Sani (G.O.A.T Remix)       0.08490
62313  Bachelor (Original Motion Picture Soundtrack)       0.07880
62314                                        Yo Baby       0.00918
62315                                Arjuna Phalguna       0.10100
62316                Moonu Moonu Moonu (From "3:33")       0.18600

       danceability  duration_ms  ...  key  liveness  loudness  mode  \
62312         0.877     359718.0  ...  7.0     0.110   -11.458   1.0
62313         0.833     154364.0  ...  8.0     0.267    -5.061   1.0
62314         0.842     234000.0  ...  7.0     0.079    -5.855   1.0
62315         0.682     180807.0  ...  1.0     0.320    -6.061   1.0
62316         0.817     202667.0  ...  6.0     0.378    -7.353   0.0

       speechiness    tempo  time_signature  valence  \
62312       0.3530  100.024             4.0    0.504
62313       0.0813  110.041             4.0    0.524
62314       0.1370  122.038             4.0    0.669
62315       0.2850   74.993             4.0    0.439
62316       0.1170   89.975             4.0    0.837

                                               track_url  language
62312  https://open.spotify.com/track/3eHDwMQYPEziy2D...     Tamil
62313  https://open.spotify.com/track/5hHtCqkNv5eo99O...     Tamil
62314  https://open.spotify.com/track/08foF9YHgKmIgOy...     Tamil
62315  https://open.spotify.com/track/2wLFbVlQGKJSd9l...     Tamil
62316  https://open.spotify.com/track/5OYxwYeFfumMTAo...     Tamil

[5 rows x 22 columns]

In [15]:
import pandas as pd
gf = pd.read_csv('spotify_tracks.csv')
print(gf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62317 entries, 0 to 62316
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          62317 non-null  object
 1   track_name        62317 non-null  object
 2   artist_name       62317 non-null  object
 3   year              62317 non-null  int64
 4   popularity        62317 non-null  int64
 5   artwork_url       62317 non-null  object
 6   album_name        62317 non-null  object
 7   acousticness      62317 non-null  float64
 8   danceability      62317 non-null  float64
 9   duration_ms       62317 non-null  float64
 10  energy            62317 non-null  float64
 11  instrumentalness  62317 non-null  float64
 12  key               62317 non-null  float64
 13  liveness          62317 non-null  float64
 14  loudness          62317 non-null  float64
 15  mode              62317 non-null  float64
 16  speechiness       62317 non-null  float64
 17  tempo             62317 non-null  float64
 18  time_signature    62317 non-null  float64
 19  valence           62317 non-null  float64
 20  track_url         62317 non-null  object
 21  language          62317 non-null  object
dtypes: float64(13), int64(2), object(7)
memory usage: 10.5+ MB
None

In [17]:
import pandas as pd
bf = pd.read_csv("goat.csv")
print (bf.describe())

             Price     Discount  Marketing_Spend   Units_Sold
count  1000.000000  1000.000000      1000.000000  1000.000000
mean    505.241920    24.919750      4912.830240    29.631000
std     289.791248    14.439951      2840.602656     7.267989
min      14.590000     0.010000       100.300000     5.000000
25%     243.342500    12.995000      2413.020000    24.000000
50%     509.310000    24.965000      4837.245000    30.000000
75%     747.592500    37.562500      7319.675000    34.000000
max     999.420000    49.920000      9995.620000    57.000000

In [21]:
#d shape 
print(bf.shape)

(1000, 7)

In [23]:
print (gf.shape)

(62317, 22)

In [27]:
#selecting data
bf['Marketing_Spend']

0      6780.38
1      6807.56
2      3793.91
3      9422.75
4      1756.83
        ...
995    1890.83
996    8011.66
997    3408.51
998    7335.62
999    4258.11
Name: Marketing_Spend, Length: 1000, dtype: float64

In [41]:
df[['track_id','track_name']]

                     track_id                                  track_name
0      2r0ROhr7pRN4MXDMT1fEmd                  Leo Das Entry (From "Leo")
1      4I38e6Dg52a2o2a8i5Q5PW                                AAO KILLELLE
2      59NoiRhnom3lTeRFaBzOev      Mayakiriye Sirikiriye - Orchestral EDM
3      5uUqRQd385pvLxC8JX3tXn    Scene Ah Scene Ah - Experimental EDM Mix
4      1KaBRg2xgNeCljmyxBH1mo  Gundellonaa X I Am A Disco Dancer - Mashup
...                       ...                                         ...
62312  3eHDwMQYPEziy2DWRBNoLv                        Sani - G.O.A.T Remix
62313  5hHtCqkNv5eo99OrEFFcgS                            Life of Bachelor
62314  08foF9YHgKmIgOy3xMWRZy                                     Yo Baby
62315  2wLFbVlQGKJSd9lwzwL47F                           Fast Fast Vadiley
62316  5OYxwYeFfumMTAoAdVeet3             Moonu Moonu Moonu (From "3:33")

[62317 rows x 2 columns]