In [7]:
import pandas as pd

data = { 'Car': ['Toyota Camry', 'Honda Civic', 'Ford Fiesta', 'Chevrolet Malibu', 'Nissan Altima','Kia Stinger'],
        'Engine_Size_Liters': [2.5, 2.0, 1.6, 2.5, 2.5,3.3],
        'Mileage_kmpl': [15, 14, 18, 13, 12, 11] 
}

df = pd.DataFrame(data)

df.to_csv('car_engine_mileage.csv', index=False)
df

                Car  Engine_Size_Liters  Mileage_kmpl
0      Toyota Camry                 2.5            15
1       Honda Civic                 2.0            14
2       Ford Fiesta                 1.6            18
3  Chevrolet Malibu                 2.5            13
4     Nissan Altima                 2.5            12
5       Kia Stinger                 3.3            11